:root {
--text: #ebfaea;
--background: #240227;
--primary: #8ee383;
--secondary: #42ad9f;
--accent: #37b5d2;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "DM Serif Text" ;
}

h1,
h2,
h3 {
    color: var(--primary);
    font-family: "DM Serif Text"
}

li::marker {
    color: var(--secondary);
}

img {
    padding: 4px;
    border: 4px solid var(--secondary);
    border-radius: 16px;
    background: var(--primary);
}

ul {
    color: var(--primary);
}

ol {
    color: var(--accent);
}

